@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900); /* font-family: 'Elsie Swash Caps', cursive; */
@import url(http://fonts.googleapis.com/css?family=Clicker+Script); /* font-family: 'Clicker Script', cursive; */

body {
  background: url(../images/handmadepaper.png);
}

#logo h1 {
  margin: 0;
  padding-top: 20px;
  display: inline-block;
  font-family: 'Clicker Script', cursive;
  background: url(../images/logo_crown_emboss.png) no-repeat top center;
}

#social {
  position: fixed;
  top: 200px;
  right: 3px;
  width: 40px;
  z-index: 1;
}

a.fbook, a.twitt, a.gplus {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/social-icons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: -40px 0; }
a.fbook:active { background-position: -80px 0; }

a.twitt { background-position: 0 -40px; }
a.twitt:hover { background-position: -40px -40px; }
a.twitt:active { background-position: -80px -40px; }

a.gplus { background-position: 0 -80px; }
a.gplus:hover { background-position: -40px -80px; }
a.gplus:active { background-position: -80px -80px; }
